<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>

    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
  <!-- server setting -->
  <!--    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>     
     <property name="hibernate.connection.username">postgres</property> 
  
    <property name="hibernate.connection.password">xrLCM1hmvpGpw</property> 
      <property name="hbm2ddl.auto">update</property>  --> 
<!-- server setting -->

<!-- Local setting -->
  <property name="hibernate.connection.url">jdbc:postgresql://localhost:5433/anas</property>
<property name="hibernate.default_schema">bikeshop</property> 
<property name="hibernate.connection.username">bikeUser</property>
 <property name="hibernate.connection.password">abcd1234</property> 

 <!-- Local setting -->

      <mapping class = "mapping.Users" /> 
      <mapping class = "mapping.EmailConfig" />
      <mapping class = "mapping.PriceInventory" />
      <mapping  class="mapping.Reservation"  />
      
  </session-factory>
</hibernate-configuration>